.navbar {
    /* Estilos de tu barra de navegación */
    display: flex;
    position: fixed; /* Necesario para que z-index funcione correctamente */
    z-index: 4; /* Asegúrate de que el encabezado no esté obstruyendo el menú */
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s;
    align-items: center; /* Centra los elementos verticalmente */
    /* ... otros estilos que puedas necesitar ... */
    padding: 10px;
    margin: 0px;
}

.nav-list {
    list-style-type: none; /* Elimina los marcadores de lista */
    display: flex; /* Usa flexbox para los elementos de la lista */
    gap: 0px; /* Espacio entre los elementos de la lista */
    padding: 0px;
    margin: 0px;
}

.nav-list a {
padding: 10px; 
padding-top: 18px;
padding-bottom: 18px;
margin: 0px;
border: 1px solid transparent; /* Borde inicial transparente */
    transition: border-color 0.3s;
    transition: background-color 0.3s;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    z-index: 2; /* Un valor más alto para asegurarte de que esté por encima del fondo */
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.navbar-brand {
    display: flex;
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Mantiene el color del texto igual al del resto de la navegación */
    align-items: center; /* Alinea el logo y el texto verticalmente */
    padding-right: 50px;
}

.brand-text {
    display: flex;
    flex-direction: column; /* Organiza 'OllinTec' y 'Analítica' en columnas */
    text-align: right; /* Alinea el texto a la derecha */
}

.divider {
    height: 40px; /* Altura de la barra */
    width: 2px; /* Ancho de la barra */
    background-color: #657889; /* Color de la barra */
    margin-left: 20px; /* Espacio a la izquierda de la barra */
    margin-right: 20px; /* Espacio a la derecha de la barra */
}

#logo {
    height: 40px; /* o el tamaño que prefieras */
    width: auto; /* para mantener la proporción de la imagen */
}

#ollin {
    color: #b8c5c9;
    size: 20px;
}

#tec {
    color: #81a6be;
}

#ollintec {
    flex-direction: row;
    font-size: 26px;
}

#analitica {
    font-size: 12px;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.053); /* Cambia el color de fondo del elemento del menú */
    color: rgb(161, 197, 221); /* Cambia el color del texto */
    border-radius: 5px; /* Añade bordes redondeados si lo deseas */
    border-color: #4c5761;
}

/*======================================================================================================================*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-image {
    background-image: url('../img/header-image.png');
    height: 300px;
    background-size: cover;
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;       /* Evita la repetición de la imagen */
}
.header-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 50, 50, 0.6); /* Ajusta la transparencia según sea necesario */
    z-index: 0;
}

.header-image  nav, ul, li{
    position: relative;
    z-index: 1;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 50px;
}
section h2 {
    padding-bottom: 40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.section-background {
    background-image: url('../img/about-us-image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Mantiene la imagen de fondo fija durante el desplazamiento */
    position: relative;
    color: black;
}

.section-background p, h2{
    position: relative;
    z-index: 2;
    text-align: justify;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px; /* Ajusta según el diseño deseado */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     z-index: 1; /* Asegúrate de que el overlay esté por encima del contenido */
    backdrop-filter: blur(5px);
}

#about-overlay{
    --color-fondo-overlay: rgba(255, 255, 255, 0.90);
    background-color: var(--color-fondo-overlay); /* Color y opacidad del overlay */
}

#team-overlay{
    --color-fondo-overlay: rgba(190, 230, 255, 0.91);
    background-color: var(--color-fondo-overlay); /* Color y opacidad del overlay */
}

#service-overlay{
    --color-fondo-overlay: rgba(100, 100, 100, 0.89);
    background-color: var(--color-fondo-overlay); /* Color y opacidad del overlay */
}

.service-container {
    display: flex;
    justify-content: center; /* Centra las cajas horizontalmente */
    flex-wrap: wrap;        /* Permite que las cajas se ajusten en filas */
    gap: 20px;              /* Espacio entre las cajas */
    padding: 10px;
}

.service-box {
    background-color: white; /* Color de fondo de la caja */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    text-align: center;
    width: 300px;       /* Ancho fijo de las cajas */
    margin-bottom: 20px; /* Espacio adicional si se envuelven */
    z-index: 2;
}

.service-box h3 {
    color: #333; /* Color del título del servicio */
    margin-top: 0;
    text-align: center;
    z-index: 3;
}

.icono-servicio {
    font-size: 40px; /* Ajusta el tamaño del ícono */
    margin-bottom: 10px; /* Espacio entre el ícono y el título */
}

#services h2{
    color: white;
}

#case-studies-overlay{
    --color-fondo-overlay: rgba(255, 255, 255, 0.90);
    background-color: var(--color-fondo-overlay); /* Color y opacidad del overlay */
}

#contact-overlay{
    --color-fondo-overlay: rgba(80, 80, 80, 0.97);
    background-color: var(--color-fondo-overlay); /* Color y opacidad del overlay */
}

#contact h2{
    color: white;
}

#contact-data-form{
    display:flex;
    justify-content: center; /* Centra las cajas horizontalmente */
    align-items: center;
    flex-wrap: wrap;        /* Permite que las cajas se ajusten en filas */
    margin: 0, auto;
    gap: 60px;
    position: relative;
    z-index: 3;
}

#contact-data{
    width: 470px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin: 0px;
}

#contact-data p {
    color:#fff;

}
#contact-data h3 {
    color:#b8c5c9;
    text-align:left;
    margin-left: 20px;
    margin-bottom: 10px;
}

.contact-info{
    height: 200px;
    background-color: rgba(0, 0, 0, 0.234);
    backdrop-filter: blur(10px);
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.contact-info p {
    color:rgb(174, 216, 245) !important;
    font-size: 18px;
}

.contact-info i {
    margin-right: 8px; /* Añade un poco de espacio entre el icono y el texto */
    /*color: #007bff; /* Cambia el color del icono */
}

#contact form{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 0px;
    border-radius: 5px;
    margin: 0px;
    
}

.form-container {
    width: 450px; /* Ancho del contenedor del formulario */
    padding: 0px;
    margin: 0px;
}

.form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 5px;
}

form h3 {
    display: block;
    text-align: left;
    margin-left: 20px;
    margin: 5px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: rgb(100, 100, 100);
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 60px); /* 100% del contenedor menos el padding */
    margin: 10px 0; /* Margen para separar los campos */
    padding:10px;
    border-radius: 5px;
    border: 1px solid rgb(189, 184, 184);
    margin-left: 10px;
    margin-right: 10px;
}

input::placeholder, textarea::placeholder {
    color: rgb(108, 108, 108); /* Cambia el color del texto del placeholder */
    font-style: italic; /* Cambia la fuente del texto a cursiva */
}

form span {
    color:red;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
    z-index: 3;
}

textarea {
    height: 100px; /* Altura fija para el textarea */
    resize: none; /* Evita que el usuario pueda cambiar el tamaño */
}

input:hover, textarea:hover {
    border: 1px solid #528bb0;
}

@media screen and (max-width: 1050px) {
    .brand-text, .divider {
        display: none;
    }

    #logo {
        padding-right: 0px;
        height: 30px; /* o el tamaño que prefieras */
        width: auto; /* para mantener la proporción de la imagen */
    }
    .navbar-brand {
        display: flex;
        align-items: center; /* Alinea el logo y el texto verticalmente */
        padding-right: 15px;
    }
    .nav-list a {
        padding: 10px; 
        padding-top: 12px;
        padding-bottom: 12px;
        margin: 0px;
    }

    #contact-data {
        width: 72%; /* Ancho del contenedor del formulario */
        /*max-width: 470px;*/
    }

    .form-container {
        width: 72%; /* Ancho del contenedor del formulario */
        /*max-width: 450px;*/
    }
}

@media screen and (max-width: 900px) {
    .navbar {
        justify-content: space-between;
    }
    #logo {
        position: absolute;
        left: 10px;
        z-index: 3;
    }
    .nav-list {
        display: none;
        position: absolute;
       top: 49px; /* Ajusta esto según la altura de tu barra de navegación */
        left: 0;
        right: 0;
        background-color: rgba(50, 50, 50, 0.90); /* Añade un color de fondo si es necesario */
        backdrop-filter: blur(15px);
        text-align: left; /* Alinea el texto a la izquierda si prefieres */
        z-index: 3; /* Asegúrate de que esté sobre otros elementos */
    }
    .menu-toggle .bar {
        background-color: rgba(180, 180, 180, 1) !important;
    }
    .menu-toggle {
        display: block;
        text-align: center;
        flex-grow: 1;
    }

    .nav-list.active {
        display: block; /* Muestra la lista cuando el menú está activo */
    }

    .nav-list li {
        display: block; /* Cada elemento de la lista ocupa toda la línea */
        padding: 10px; /* Espacio alrededor de cada elemento de la lista */
        border-bottom: 1px solid rgba(100, 100, 100, 0.95); /* Opcional: añade un borde para separar los elementos */
    }

    .nav-list li:last-child {
        border-bottom: none; /* Elimina el borde del último elemento */
    }

    .nav-list li a {
        display: block; /* Ocupa todo el espacio del elemento <li> para facilitar la selección */
    }
    
    .navbar-brand {
       /* flex-direction: row; /* En pantallas pequeñas, el logo y texto deben estar en fila */
        justify-content: flex-start; /* Alinea el logo a la izquierda en pantallas pequeñas */
    }

    #contact-data {
        width: 90%; /* Ancho del contenedor del formulario */
    }

    .form-container {
        width: 90%; /* Ancho del contenedor del formulario */
    }
}